In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv('data\survey_results_public.csv')
data.head()

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN

Split by ";" and take the first value

In [4]:
data['DevType'].unique()

array([nan,
       'Data scientist or machine learning specialist;Developer, front-end;Engineer, data;Engineer, site reliability',
       'Developer, full-stack', ...,
       'Data scientist or machine learning specialist;Developer, front-end;Developer, full-stack;Developer, back-end;Developer, QA or test;Developer, mobile;Database administrator;Cloud infrastructure engineer;Data or business analyst;Designer;Blockchain',
       'Developer, front-end;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, mobile;Educator;Developer, embedded applications or devices',
       'Developer, front-end;Engineer, data;Engineer, site reliability;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Developer, QA or test;Student;Developer, mobile;Academic researcher;DevOps specialist;Developer, embedded applications or devices;Developer, game or graphics;Cloud infrastructure engineer;Data or business analyst;Designer;Scientist;Product manager;System administrator'],
      dtype=object)

In [5]:
len(data['DevType'].unique())

9985

In [6]:
data['DevType'] = data['DevType'].str.split(";")
data['DevType'] = data['DevType'].str[0]

In [7]:
len(data['DevType'].unique())

30

In [8]:
data['DevType'].unique().tolist()

[nan,
 'Data scientist or machine learning specialist',
 'Developer, full-stack',
 'Developer, front-end',
 'Developer, back-end',
 'Developer, desktop or enterprise applications',
 'Engineering manager',
 'Engineer, data',
 'Student',
 'Other (please specify):',
 'Engineer, site reliability',
 'Developer, mobile',
 'Marketing or sales professional',
 'Developer, embedded applications or devices',
 'DevOps specialist',
 'Designer',
 'Database administrator',
 'System administrator',
 'Developer, QA or test',
 'Product manager',
 'Project manager',
 'Data or business analyst',
 'Senior Executive (C-Suite, VP, etc.)',
 'Security professional',
 'Educator',
 'Academic researcher',
 'Developer, game or graphics',
 'Cloud infrastructure engineer',
 'Scientist',
 'Blockchain']

In [9]:
data['DevType'].value_counts()

Developer, full-stack                            16664
Developer, front-end                             15375
Developer, back-end                              10491
Data scientist or machine learning specialist     3424
Engineer, data                                    2058
Developer, mobile                                 1812
Developer, desktop or enterprise applications     1806
Student                                           1662
Other (please specify):                           1358
Engineer, site reliability                        1182
Engineering manager                                731
Developer, embedded applications or devices        654
Academic researcher                                570
DevOps specialist                                  546
Developer, QA or test                              514
Educator                                           320
Senior Executive (C-Suite, VP, etc.)               289
Data or business analyst                           282
Project manager                                    213
Developer, game or graphics                        195
System administrator                               194
Cloud infrastructure engineer                      187
Database administrator                             157
Product manager                                    152
Security professional                              135
Scientist                                          116
Designer                                            90
Marketing or sales professional                     76
Blockchain                                          49
Name: DevType, dtype: int64

In [10]:
df = data[['Country','EdLevel','YearsCodePro','Employment','ConvertedCompYearly']]
df = df.rename({'ConvertedCompYearly':'Salary'}, axis=1)
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
0,NaN,NaN,NaN,NaN,NaN
1,Canada,NaN,NaN,"Employed, full-time",NaN
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",40205.0
3,Israel,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",215232.0
4,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",3,"Employed, full-time",NaN

In [46]:
df = df[df['Salary'].notnull()]
df.head()

,Country,EdLevel,YearsCodePro,Employment,Salary
2,United Kingdom of Great Britain and Northern I...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",5,"Employed, full-time",40205.0
3,Israel,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",17,"Employed, full-time",215232.0
8,Netherlands,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",6,"Employed, full-time",49056.0
10,United Kingdom of Great Britain and Northern I...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",2,"Employed, full-time",60307.0
11,United States of America,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",10,"Employed, full-time;Independent contractor, fr...",194400.0

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       71771 non-null  object
 1   EdLevel       71571 non-null  object
 2   YearsCodePro  51833 non-null  object
 3   Employment    71709 non-null  object
 4   Salary        38071 non-null  float64
dtypes: float64(1), object(4)
memory usage: 2.8+ MB

In [12]:
df = df.dropna()
df.isnull().sum()

Country         0
EdLevel         0
YearsCodePro    0
Employment      0
Salary          0
dtype: int64

In [13]:
df['Employment'].unique()

array(['Employed, full-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed',
       'Independent contractor, freelancer, or self-employed',
       'Employed, part-time',
       'Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time',
       'Employed, full-time;Employed, part-time', 'I prefer not to say',
       'Independent contractor, freelancer, or self-employed;Retired',
       'Retired', 'Employed, part-time;Retired',
       'Employed, full-time;Retired',
       'Employed, full-time;Independent contractor, freelancer, or self-employed;Retired'],
      dtype=object)

In [14]:
df['Employment'].value_counts()

Employed, full-time                                                                             31382
Independent contractor, freelancer, or self-employed                                             2739
Employed, full-time;Independent contractor, freelancer, or self-employed                         2633
Employed, part-time                                                                               632
Independent contractor, freelancer, or self-employed;Employed, part-time                          207
Employed, full-time;Employed, part-time                                                           151
Employed, full-time;Independent contractor, freelancer, or self-employed;Employed, part-time      118
I prefer not to say                                                                                27
Retired                                                                                            18
Employed, part-time;Retired                                                                         5
Independent contractor, freelancer, or self-employed;Retired                                        3
Employed, full-time;Independent contractor, freelancer, or self-employed;Retired                    3
Employed, full-time;Retired                                                                         1
Name: Employment, dtype: int64

In [15]:
df['Employment'] = df['Employment'].str.split(";")
df['Employment'] = df['Employment'].str[0]

In [16]:
df['Employment'].unique()

array(['Employed, full-time',
       'Independent contractor, freelancer, or self-employed',
       'Employed, part-time', 'I prefer not to say', 'Retired'],
      dtype=object)

In [17]:
df = df[df['Employment'] == 'Employed, full-time']
df = df.drop('Employment', axis = 1)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34288 entries, 2 to 73121
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country       34288 non-null  object
 1   EdLevel       34288 non-null  object
 2   YearsCodePro  34288 non-null  object
 3   Salary        34288 non-null  float64
dtypes: float64(1), object(3)
memory usage: 1.3+ MB

In [18]:
df['Country'].value_counts()

United States of America                                8292
Germany                                                 2540
United Kingdom of Great Britain and Northern Ireland    2435
India                                                   2049
Canada                                                  1363
                                                        ...
Guinea                                                     1
Palau                                                      1
Monaco                                                     1
Saint Lucia                                                1
Seychelles                                                 1
Name: Country, Length: 157, dtype: int64

In [19]:
def shorten_categories(categories, cutoff):
    categorical_map = {}
    for i in range(len(categories)):
        if categories.values[i] >= cutoff:
            categorical_map[categories.index[i]] = categories.index[i]
        else:
            categorical_map[categories.index[i]] = 'Other'
    return categorical_map